.body {
    background-color: rgb(180, 191, 180);
    font-family: 'Inter', sans-serif;
    line-height: 3;
    max-width: 1000px;
    margin: 5px auto;
    border: 2px solid green;
    border-radius: 20px/40px;
    padding: 20px 20px;
}

.body--dark {
    background-color: rgb(120, 131, 120);
}

.body__myPhoto {
    display: block;
    margin: 0 auto;
    max-width: 280px;
    height: 300px;
}



.body__paragraph {
    text-align: center;
}