.header__buttonTheme {
    font-size: 20px;
    display: block;
    margin: auto;
    background-color: cornsilk;
    outline-style: solid;
    outline-color: black;
    border-style: ridge;
    border-width: 5px;
    margin-right: 30px;
}

.header__buttonShow {
    font-size: 40px;
    display: block;
    margin: auto;
    background-color: rgb(232, 0, 0);
    margin-bottom: 20px;
}

.header__results {
    font-size: 50px;
    text-align: center;
    outline-style:solid;
    background-color: blanchedalmond;
    display: block;
    margin: 30px 300px;
    margin-bottom: 30px;
    max-width: 400px;
}

.header__mainHeader {
    text-align: center;
    color: rgb(61, 52, 235);
    font-size: 35px;
    font-style: oblique;
}

.header__subHeader {
    text-align: left;
}

