

.section__span {
    background-color: rgb(21, 124, 176);
}

.table {
    border-collapse: collapse;
    overflow-x: auto;
    max-width: 100%;
    
}

.table__cell {
    border: 3px solid rgb(235, 237, 102);
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.table__cell--header {
    background-color: rgb(12, 117, 68);
    color: white;
    font-weight: normal;
}

.table__row:hover {
    background-color: rgb(235, 224, 127)
}

.table__menu {
    font-style: italic;
    font-size: 30px;
}

.section__item {
    padding-left: 30px;
}
.section__item--other {
    list-style-type: circle;
}

.section__header {
    font-size: 23px;
}